.road{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-image: url('images/road.png');
    background-size: cover;
}
.road img{
    max-width:250px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -80px;
  }
  

  #alertBox {
	position: absolute;
	top: 30%;
	bottom: 60%;
	left: 40%;
	width: 20%;
	height: 10%;
	background-color: red;
	border-radius: 10px;
	padding: 10px;
	z-index: 2;
    font-size: 25px;
    font-weight: bold;
	text-align: center;
	color: white;
}

#alertBox2 {
	position: absolute;
	top: 30%;
	bottom: 60%;
	left: 40%;
	width: 20%;
	height: 10%;
	background-color: green;
	border-radius: 10px;
	padding: 10px;
	z-index: 2;
    font-size: 25px;
    font-weight: bold;
	text-align: center;
	color: white;
}

#alertClose {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
}

#i {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
}

